{{#if errors}} 
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}} 
{{/if}}
<h2 class="page-header">Herzlich Willkommen, {{anrede}} {{name}}.</h2>
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#uebersicht">Übersicht</a></li>
  <li><a data-toggle="tab" href="#meldung">Meldung</a></li>
  <li><a data-toggle="tab" href="#historie">Historie</a></li>
</ul>

<div class="tab-content">
  <div id="uebersicht" class="tab-pane fade in active">
    <h3>HOME</h3>
    <p>Some content.</p>
  </div>
  <div id="meldung" class="tab-pane fade">
    <form method="POST" action="/meldungen/erfassen">
        <div class="form-group">
            <select class="form-control" name="meldungsart">
                <option value="Urlaub">Urlaub</option>
                <option value="Krankheit">Krankheit</option>
                <option value="Sonderurlaub">Sonderurlaub</option>
            </select>
        </div>
        <div class="form-group">
            <label>Beginndatum</label>
            <input type="text" class="form-control" name="von_datum" id="von_datum"/>
        </div>
        <div class="form-group">
            <label>Enddatum</label>
            <input type="text" class="form-control" name="bis_datum" id="bis_datum" />
        </div>
        <div class="form-group" style="display: none" id="divHalberTag">
            <select class="form-control" name="halber_tag">
                <option selected="selected"></option>
                <option value="vorm">Vormittags</option>
                <option value="nachm">Nachmittags</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default">Abschicken</button>
    </form>
  </div>
  <div id="historie" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Some content in menu 2.</p>
  </div>
</div>

<script>
    $('#von_datum').on('change', function(){
        if($('#von_datum').val() == $('#bis_datum').val()){
            $('#divHalberTag').show();
        } else {
            $('#divHalberTag').hide()
        }
    });
    $('#bis_datum').on('change', function(){
        if($('#von_datum').val() == $('#bis_datum').val()){
            $('#divHalberTag').show();
        } else {
            $('#divHalberTag').hide()
        }
    });
</script>