<script>
    $(function(){
        $('#calendar-uebersicht-mitarbeiter').fullCalendar({
          locale: 'de',
          themeSystem: 'bootstrap3',
          eventLimit: true,
          header: {
            left: 'title',
            center: '',
            right: 'prev,next'
          },
          eventRender: function(eventObj, $el){
            $el.popover({
              title: eventObj.title,
              content: eventObj.description,
              trigger: 'hover',
              placement: 'top',
              container: 'body'
            });
          }
        }).on('click', '.fc-prev-button,.fc-next-button', function(){
          blaetternUebersichtMitarbeiter();
        });

        $('#von_datum').on('change', function () {
            if ($('#von_datum').val() == $('#bis_datum').val()) {
                $('#divHalberTag').show();
            } else {
                $('#divHalberTag').hide()
            }
        });

        $('#bis_datum').on('change', function () {
            if ($('#von_datum').val() == $('#bis_datum').val()) {
                $('#divHalberTag').show();
            } else {
                $('#divHalberTag').hide()
            }
        });

        $('#link-prev-historie').on('click', function () {
            if($('#li-prev-historie').hasClass("disabled")) {
                return;
            }

            var angezeigtes_jahr = Number($('#jahr-historie').text());
            var aktuelles_jahr = new Date().getFullYear();

            if(angezeigtes_jahr - 1 == aktuelles_jahr - 3){
                $('#li-prev-historie').addClass("disabled");
            }

            $('#li-next-historie').removeClass("disabled");
            getHistorie(angezeigtes_jahr - 1);
        });

        $('#link-next-historie').on('click', function () {7
            if($('#li-next-historie').hasClass("disabled")) {
                return;
            }

            var angezeigtes_jahr = Number($('#jahr-historie').text());
            var aktuelles_jahr = new Date().getFullYear();

            if(angezeigtes_jahr + 1 == aktuelles_jahr - 1){
                $('#li-next-historie').addClass("disabled");
            }

            $('#li-prev-historie').removeClass("disabled");
            getHistorie(angezeigtes_jahr + 1);
        });

        setAnzahlOffeneMeldungen();
        getUebersicht();
        getHistorie(new Date().getFullYear() - 1);
        getOffeneMeldungen();
        getAbteilungen();
      });
</script>

{{#if errors}} {{#each errors}}
<div class="alert alert-danger">{{msg}}</div>
{{/each}} {{/if}}
<h2 class="page-header">Herzlich Willkommen, {{anrede}} {{name}}.</h2>
<ul class="nav nav-tabs">
    <li class="active">
        <a data-toggle="tab" href="#uebersicht">Übersicht</a>
    </li>
    <li>
        <a data-toggle="tab" href="#meldung">Meldung</a>
    </li>
    <li>
        <a data-toggle="tab" href="#historie">Historie</a>
    </li>
    {{#if verwalter}}
    <li>
        <a id="link-offene-meldungen" data-toggle="tab" href="#offene-meldungen">Offene Meldungen
            <span class="badge" id="anz-offene-meldungen">
            </span>
        </a>
    </li>
    <li>
        <a data-toggle="tab" href="#uebersicht-mitarbeiter">Übersicht Mitarbeiter</a>
    </li>
    {{/if}}
</ul>

<div class="tab-content">
    <div id="uebersicht" class="tab-pane fade in active" style="margin-top: 20px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Urlaub</h3>
            </div>
            <div class="panel-body" id="panel-body-urlaub">
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Krankheit</h3>
            </div>
            <div class="panel-body" id="panel-body-krankheit">
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Sonderurlaub</h3>
            </div>
            <div class="panel-body" id="panel-body-sonderurlaub">
            </div>
        </div>
    </div>
    <div id="meldung" class="tab-pane fade" style="margin-top: 20px">
        <form method="POST" action="/meldungen/erfassen">
            <div class="form-group">
                <select class="form-control" name="meldungsart">
                    <option value="Urlaub">Urlaub</option>
                    <option value="Krankheit">Krankheit</option>
                    <option value="Sonderurlaub">Sonderurlaub</option>
                </select>
            </div>
            <div class="form-group">
                <label>Beginndatum</label>
                <input type="text" class="form-control" name="von_datum" id="von_datum" />
            </div>
            <div class="form-group">
                <label>Enddatum</label>
                <input type="text" class="form-control" name="bis_datum" id="bis_datum" />
            </div>
            <div class="form-group" style="display: none" id="divHalberTag">
                <select class="form-control" name="halber_tag">
                    <option selected="selected"></option>
                    <option value="vorm">Vormittags</option>
                    <option value="nachm">Nachmittags</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default">Abschicken</button>
        </form>
    </div>
    <div id="historie" class="tab-pane fade" style="margin-top: 20px">
        <nav>
            <ul class="pager">
                <li class="previous" id="li-prev-historie"><a href="#" id="link-prev-historie"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                <li class="text-primary" style="font-size: 160%" id="jahr-historie"></li>
                <li class="next" id="li-next-historie"><a href="#" id="link-next-historie"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
            </ul>
        </nav>
        <div id="table-historie" style="margin-top: 15px"></div>
    </div>
    {{#if verwalter}}
    <div id="offene-meldungen" class="tab-pane fade" style="margin-top: 20px">
        <div class="panel-group" id="accordion-offene-meldungen">
        </div>
    </div>
    <div id="uebersicht-mitarbeiter" class="tab-pane fade" style="margin-top: 20px">
        <div id="calendar-uebersicht-mitarbeiter"></div>
        <div class="btn-group dropup pull-right" style="margin-top: 15px">
            <button type="button" class="btn btn-primary">Abteilung</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" id="abteilung-uebersicht">
            </ul>
        </div>
    </div>
    {{/if}}
</div>