<script>
    $(function(){
        $('#calendar-uebersicht').fullCalendar({
          locale: 'de',
          themeSystem: 'bootstrap3',
          eventLimit: true,
          header: {
            left: 'title',
            center: '',
            right: 'mail prev,next'
          },
          customButtons: {
              mail: {
                  bootstrapGlyphicon: 'glyphicon glyphicon-envelope',
                  click: function() {
                      sendeJahresuebersicht();
                  }
              }
          }
        }).on('click', '.fc-prev-button,.fc-next-button', function(){
          getUebersicht();
          getResturlaub();
        });

        $('#calendar-uebersicht-mitarbeiter').fullCalendar({
          locale: 'de',
          themeSystem: 'bootstrap3',
          eventLimit: true,
          header: {
            left: 'title',
            center: '',
            right: 'prev,next'
          },
          eventRender: function(eventObj, $el){
            $el.popover({
              title: eventObj.title,
              content: eventObj.description,
              trigger: 'hover',
              placement: 'top',
              container: 'body'
            });
          }
        }).on('click', '.fc-prev-button,.fc-next-button', function(){
          blaetternUebersichtMitarbeiter();
        });

        $('#link-prev-historie').on('click', function () {
            if($('#li-prev-historie').hasClass("disabled")) {
                return;
            }

            var angezeigtes_jahr = Number($('#jahr-historie').text());
            var aktuelles_jahr = new Date().getFullYear();

            if(angezeigtes_jahr - 1 == aktuelles_jahr - 3){
                $('#li-prev-historie').addClass("disabled");
            }

            $('#li-next-historie').removeClass("disabled");
            getHistorie(angezeigtes_jahr - 1);
        });

        $('#link-next-historie').on('click', function () {7
            if($('#li-next-historie').hasClass("disabled")) {
                return;
            }

            var angezeigtes_jahr = Number($('#jahr-historie').text());
            var aktuelles_jahr = new Date().getFullYear();

            if(angezeigtes_jahr + 1 == aktuelles_jahr - 1){
                $('#li-next-historie').addClass("disabled");
            }

            $('#li-prev-historie').removeClass("disabled");
            getHistorie(angezeigtes_jahr + 1);
        });

        $('#link-neue-meldung').on('click', function(){
            $('#link-meldung-stornieren').removeClass("active");
            $('#link-neue-meldung').addClass("active");
            $('#panel-neue-meldung').css("display", "");
            $('#panel-meldung-stornieren').css("display", "none");
        });

        $('#link-meldung-stornieren').on('click', function(){
            $('#panel-body-meldung-stornieren').empty();
            getMeldungStornieren();
            $('#link-neue-meldung').removeClass("active");
            $('#link-meldung-stornieren').addClass("active");
            $('#panel-meldung-stornieren').css("display", "");
            $('#panel-neue-meldung').css("display", "none");
        });

        $('#div_von_datum').datepicker({
            altField: "#von_datum",
            altFormat: "yy-mm-dd",
            beforeShowDay: $.datepicker.noWeekends,
            onSelect: function(){
                $('#div_bis_datum').datepicker( "option", "minDate", new Date($('#von_datum').val()) );
                $('#von_datum').change();
            }
        });

        $('#div_bis_datum').datepicker({
            altField: "#bis_datum",
            altFormat: "yy-mm-dd",
            beforeShowDay: $.datepicker.noWeekends,
            onSelect: function(){
                $('#div_von_datum').datepicker( "option", "maxDate",  new Date($('#bis_datum').val()));
                $('#bis_datum').change();
            }
        });

        $('#von_datum').on('change', function () {
            if ($('#von_datum').val() == $('#bis_datum').val()) {
                $('#labelHalberTag').show();
                $('#divHalberTag').show();
            } else {
                $('#labelHalberTag').hide();
                $('#divHalberTag').hide();
            }
        });

        $('#bis_datum').on('change', function () {
            if ($('#von_datum').val() == $('#bis_datum').val()) {
                $('#labelHalberTag').show();
                $('#divHalberTag').show();
            } else {
                $('#labelHalberTag').hide();
                $('#divHalberTag').hide();
            }
        });

        $('#meldungsart').on('change', function() {
            if ($('#meldungsart').val() == "Krankheit"){
                $('#labelBescheinigung').show();
                $('#divBescheinigung').show();
            } else {
                $('#labelBescheinigung').hide();
                $('#divBescheinigung').hide();
            }
        })

        getUebersicht();
        getResturlaub();
        getHistorie(new Date().getFullYear() - 1);
        setAnzahlOffeneMeldungen();
        getOffeneMeldungen();
        getAbteilungen();
      });
</script>

{{#if errors}} {{#each errors}}
<div class="alert alert-danger">{{msg}}</div>
{{/each}} {{/if}}
<h2 class="page-header">Herzlich Willkommen, {{anrede}} {{name}}.</h2>
<ul class="nav nav-tabs">
    <li class="active">
        <a data-toggle="tab" href="#uebersicht">Übersicht</a>
    </li>
    <li>
        <a data-toggle="tab" href="#meldung">Meldung</a>
    </li>
    <li>
        <a data-toggle="tab" href="#historie">Historie</a>
    </li>
    {{#if verwalter}}
    <li>
        <a id="link-offene-meldungen" data-toggle="tab" href="#offene-meldungen">Offene Meldungen
            <span class="badge" id="anz-offene-meldungen">
            </span>
        </a>
    </li>
    <li>
        <a data-toggle="tab" href="#uebersicht-mitarbeiter">Übersicht Mitarbeiter</a>
    </li>
    {{/if}}
</ul>

<div class="tab-content">
    <div id="uebersicht" class="tab-pane fade in active" style="margin-top: 20px">
        <div id="calendar-uebersicht"></div>
        <div class="panel panel-default" style="margin-top: 15px">
            <div class="panel-heading">Übersicht</div>
            <div class="panel-body" id="panel-body-uebersicht">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 25%">Urlaub</th>
                            <th style="width: 25%">Krankheit</th>
                            <th style="width: 25%">Sonderurlaub</th>
                            <th style="width: 25%">Resturlaub</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="uebersicht-urlaub"></td>
                            <td id="uebersicht-krankheit"></td>
                            <td id="uebersicht-sonderurlaub"></td>
                            <td id="uebersicht-resturlaub"></td>
                        </tr>
                    </tbody>
                </table>                            
            </div>
        </div>
    </div>
    <div id="meldung" class="tab-pane fade" style="margin-top: 20px">
        <div class="list-group">
            <a href="#" class="list-group-item" id="link-neue-meldung">Neue Meldung</a>
            <a href="#" class="list-group-item" id="link-meldung-stornieren">Meldung stornieren</a>
        </div>

        <div class="panel panel-default" style="display: none" id="panel-neue-meldung">
            <div class="panel-heading" id="panel-heading-neue-meldung">Neue Meldung</div>
            <div class="panel-body" id="panel-body-neue-meldung">
                <form method="POST" action="/meldungen/erfassen" enctype="multipart/form-data">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12"><label>Meldungart</label></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10">
                                <select class="form-control" name="meldungsart" id="meldungsart">
                                    <option value="Urlaub">Urlaub</option>
                                    <option value="Krankheit">Krankheit</option>
                                    <option value="Sonderurlaub">Sonderurlaub</option>
                                </select>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                        <div class="row" style="margin-top: 15px">
                            <div class="col-lg-4">
                                <label>Beginndatum</label>
                            </div>
                            <div class="col-lg-2"></div>
                            <div class="col-lg-4">
                                <label>Enddatum</label>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                        <div class="row">
                            <div id="div_von_datum" class="col-lg-4">
                                <input type="hidden" name="von_datum" id="von_datum">
                            </div>
                            <div class="col-lg-2"></div>
                            <div id="div_bis_datum" class="col-lg-4">
                                <input type="hidden" name="bis_datum" id="bis_datum">
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                        <div class="row" style="display: none; margin-top: 15px;" id="labelHalberTag">
                            <div class="col-lg-12">
                                <label>Halber Tag</label>
                            </div>
                        </div>
                        <div class="row" style="display: none" id="divHalberTag">
                            <div class="col-lg-10">
                                <select class="form-control" name="halber_tag">
                                    <option selected="selected"></option>
                                    <option value="vorm">Vormittags</option>
                                    <option value="nachm">Nachmittags</option>
                                </select>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                        <div class="row" style="display: none; margin-top: 15px;" id="labelBescheinigung">
                            <div class="col-lg-12"><label>Dienstunfähigkeitsbescheinigung</label></div>
                        </div>
                        <div class="row" style="display: none" id="divBescheinigung">
                            <div class="col-lg-12">
                                <input type="file" accept=".pdf" name="bescheinigung" />
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px">
                            <div class="col-lg-12">
                                <button  type="submit" class="btn btn-default">Abschicken</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel panel-default" style="display: none" id="panel-meldung-stornieren">
            <div class="panel-heading" id="panel-heading-meldung-stornieren">Meldung stornieren</div>
            <div class="panel-body" id="panel-body-meldung-stornieren"></div>
        </div>
    </div>
    <div id="historie" class="tab-pane fade" style="margin-top: 20px">
        <nav>
            <ul class="pager">
                <li class="previous" id="li-prev-historie"><a href="#" id="link-prev-historie"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                <li class="text-primary" style="font-size: 160%" id="jahr-historie"></li>
                <li class="next" id="li-next-historie"><a href="#" id="link-next-historie"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
            </ul>
        </nav>
        <div id="table-historie" style="margin-top: 15px"></div>
    </div>
    {{#if verwalter}}
    <div id="offene-meldungen" class="tab-pane fade" style="margin-top: 20px">
        <div class="panel-group" id="accordion-offene-meldungen">
        </div>
    </div>
    <div id="uebersicht-mitarbeiter" class="tab-pane fade" style="margin-top: 20px">
        <div id="calendar-uebersicht-mitarbeiter"></div>
        <div class="btn-group dropup pull-right" style="margin-top: 15px">
            <button type="button" class="btn btn-primary">Abteilung</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" id="abteilung-uebersicht">
            </ul>
        </div>
    </div>
    {{/if}}
</div>