{{#if errors}} 
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}} 
{{/if}}
<h2 class="page-header">Registrieren</h2>
<form method="POST" action="/users/register">
    <div class="form-group">
        <label>Personalnummer</label>
        <input type="text" class="form-control" placeholder="Personalnummer" name="personalnummer">
    </div>
    <div class="form-group">
        <label>Anrede</label>
        <select class="form-control" name="anrede">
            <option value="" selected="selected">Bitte auswählen</option>
            <option value="m">Herr</option>
            <option value="w">Frau</option>
        </select>
    </div>
    <div class="form-group">
        <label>Abteilung</label>
        <select class="form-control" name="abteilung">
            <option value="" selected="selected">Bitte auswählen</option>
            <option value="1">Management</option>
            <option value="2">Controlling</option>
            <option value="3">IT</option>
            <option value="4">Marketing</option>
            <option value="5">Einkauf</option>
            <option value="6">Vertrieb</option>
        </select>
    </div>
    <div class="form-group">
        <label>Vorname</label>
        <input type="text" class="form-control" placeholder="Vorname" name="vorname">
    </div>
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Name" name="name">
    </div>
    <div class="form-group">
        <label>E-Mail</label>
        <input type="email" class="form-control" placeholder="E-Mail" name="email">
    </div>
    <div class="form-group">
        <label>Passwort</label>
        <input type="password" class="form-control" placeholder="Passwort" name="passwort">
    </div>
    <div class="form-group">
        <label>Passwort bestätigen</label>
        <input type="password" class="form-control" placeholder="Passwort" name="passwort2">
    </div>
    <button type="submit" class="btn btn-default">Registrieren</button>
</form>